body {

    font-family: Verdana;
    margin: 0;
    padding: 0;
    font-size: 20px;





}



#container {



    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;
    position: absolute;

    background-size: cover;

    color: #fff;



}





.tytul {

    margin: 0;




    display: flex;
    align-items: flex-start;

    justify-content: flex-start;
    flex-direction: column;
    position: relative;

}




@media(min-width:1170px) {
    #container {


        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../img/man-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;

    }





    .tytul {
        font-size: 26px;
        /*        top: 550px;*/



        margin: 0;

        padding-left: 65px;


        padding-top: 480px;
        color: white;
        position: relative;
        display: flex;
        align-items: flex-start;
        /*
        text-align: left;
        text-align: center;*/



        justify-content: flex-start;
        /*        flex-direction: column;*/

    }


}



@media(max-width:1170px) {
    #container {
        width: 100%;
        height: 70%;



        display: flex;
        align-items: center;
        justify-content: center;

        background-image: url('../img/man-2.jpg');

        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;


    }




    .tytul {
        font-size: 15px;
        padding-left: 590px;
        padding-top: 130px;


        /*        top: 120px;*/
        position: relative;

        /*        justify-content: center;*/
        color: white;


        /*
        display: flex;
        text-align: left;


      
        align-items: flex-end;*/

    }



}








@media(max-width:992px) {
    #container {


        width: 100%;
        height: 50%;

        display: flex;
        flex-direction: column;


        background-image: url('../img/man-1.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;

        position: absolute;




    }





    .tytul {
        color: black;


        padding-left: 135px;
        padding-top: 430px;
        padding-right: 62px;
        font-size: 12px;
        position: relative;
        display: flex;
        align-items: center;

        justify-content: center;
        flex-direction: column;
        text-align: center;

    }

}
