body {
    background-color: white;
    display: flex;
    flex-wrap: wrap;



}









header {
    background-color: red;
    flex-basis: 100%;
    height: 40px;
    color: white;
    font-size: 7px;

    text-align: center;






}

section {
    flex-basis: 100%;

}


article {
    background-color: deepskyblue;
    flex-basis: 100%;

    height: 170px;

    font-size: 19px;
    color: white;


    text-align: center;
    margin: 0;
    /*    padding: 10px;*/



}


.left {
    background-color: green;
    flex-basis: 100%;
    height: 170px;
    color: white;
    font-size: 12px;

    text-align: center;
    margin: 0;




}




.right {
    background-color: pink;
    color: white;
    font-size: 12px;

    text-align: center;



    flex-basis: 100%;
    height: 170px;

}


footer {
    background-color: blueviolet;
    flex-basis: 100%;
    height: 40px;
    color: white;
    font-size: 7px;

    text-align: center;







}





@media(min-width:992px) {
    section {
        display: flex;
        /*        flex-wrap: nowrap;*/
        /*        align-items: baseline;*/
        align-items: stretch;
        flex-direction: row-reverse;

    }






    article {
        flex-basis: 60%;
        height: 200px;

        display: flex;
        justify-content: center;
        order: 1;

        /*        margin: auto;
        
 */
    }

    .right {
        flex-basis: 20%;
        height: 200px;
        order: 0;



    }

    .left {
        flex-basis: 20%;
        height: 200px;
        order: 2;



    }

}


@media(max-width: 992px) {

    section {


        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;


    }

    article {

        display: flex;
        flex-basis: 80%;




        height: 450px;


    }

    .right {
        display: flex;
        flex-basis: 20%;
        height: 450px;
        justify-content: center;
        float: left;

    }



    .left {
        display: flex;
        justify-content: center;





        flex-basis: 100%;
        height: 575px;

    }
}





@media(max-width: 768px) {
    section {
        display: flex;
        flex-wrap: wrap;


    }


    article,
    header,
    footer {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
    }

    article {
        height: 330px;
        font-size: 17px;
        padding: 9px;
        /*        order: 0;*/
    }

    .right {
        /*            display: flex;*/
        flex-basis: 100%;
        height: 330px;
        order: 2;
        text-align: center;
    }

    .left {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        height: 330px;
        text-align: center;
        order: 1;
    }


}
